*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}
main{
    background-color: #BEB1AE;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}
/* начало Header */
.header{
    background-color: #363434;;
}
.header_block{
    display: flex;
}
.header_text{
    display: block;
    padding:90px;
}
.header_img{
    border-radius: 50%;
    border-top:50px;
    border-bottom: 50px;
}
.header_h{
    color: aliceblue;
    font-weight: 700;
    font-size: 42px;
    line-height: 40px;
}
.header_p{
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    color: #E3E9F3;
}
/* начало main */
.objective_h{
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 24px;
    color:#3116c1 ;
    padding-bottom: 24px;
    padding-top: 60px;
}
.objective_p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #0a000a;
    padding-bottom: 15px;
}

.experience_h{
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 24px;
    color:#3116c1 ;
    padding-bottom: 24px;
    padding-top: 60px;
}
.xyq{
    display: block;
    padding-left: 120px;
}
.experience_text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #0a000a;
    padding-bottom: 15px;
}
/*Начало Skills */
.skills_h{
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 24px;
    color:#3116c1 ;
    padding-bottom: 24px;
    padding-top: 60px;
}
.skills_p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #0a000a;
    padding-bottom: 15px;
}
/*начало lanquaqe */
.language_h{
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 24px;
    color:#3116c1 ;
    padding-bottom: 24px;
    padding-top: 60px;
}
.lang_list{
    display: block;
    list-style-type: square;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 50px;
}  
.lang_li{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #0a000a;
    padding-bottom: 15px;
} 

/*начало form */
.form_h2{
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 24px;
    color:#3116c1 ;
    padding-bottom: 24px;
    padding-top: 60px;
    text-align: center
}
.container_form{
    display: flex;
    justify-content: center
}
.form_h{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #3F313F;
}
.form_p{
    width: 350px;
    border: 5px solid #BEB1AE;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #E5D6D2;
    font-weight: bold;
    resize: none;
}
.form_textarea{
    display: flex;
    justify-content: center
}
.form_text{
    width: 700px;
    border: 5px solid #BEB1AE;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #E5D6D2;
    font-weight: bold;
    resize: none;
}
.btn_form{
    display:block;
    width: 180px;
    height: 40.28px;
    background: #3F313F;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 5%;
    margin: 0 auto;
    margin-top: 50px;
}

/* начало footer*/
.footer_text{
    text-align: center;
    opacity: 0.6;
}
.contacts_h{
    text-align: center;
    color:#E3E9F3;
}
.contacts_list{
        display: flex;
        justify-content: space-around;
        padding: 40px;
}
.link_contact{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #E3E9F3;
    text-decoration:none ;
}
.contact{
    list-style-type:none;
}
.color_footer{
    background-color: #834b65;
}
.xyq{
    display: block;
    padding-left: 120px;
}